@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  background-color: #f9fafb;
}
